bin/
obj/
.vs/
*.user
*.suo
*.pdb
*.log
$log/
*.cpuprofile
.wrangler/
TelemetryRepairReports/
ExampleAddon/Dist/
ExampleAddon/About/PublishedFileId.txt
TestData/*
!TestData/Config/
TestData/Config/*
!TestData/Config/ModsConfig.xml
